### Pandas is a Python library that is used for data analysis. It provides a number of data structures and operations for working with tabular data.

#### Two of the most important data structures in Pandas are Series and DataFrame.

#### Series: A Series is a one-dimensional labeled array. It is similar to a NumPy array, but it has an index that can be used to access individual elements.
#### DataFrame: A DataFrame is a two-dimensional labeled array. It is similar to a spreadsheet or a SQL table. It has rows and columns, and each row and column has a name.

In [2]:
import pandas as pd

data = [10, 20, 30, 40, 50]
index = ['A', 'B', 'C', 'D', 'E']
series = pd.Series(data, index=index)

print(series)

A    10
B    20
C    30
D    40
E    50
dtype: int64

In [3]:
# Accessing elements by index
print(series['B'])  # Output: 20

# Arithmetic operations
series += 5
print(series)

# Filtering elements
filtered_series = series[series > 30]
print(filtered_series)

20
A    15
B    25
C    35
D    45
E    55
dtype: int64
C    35
D    45
E    55
dtype: int64

In [4]:
# Arithmetic operations
series_squared = series ** 2
print(series_squared)

A     225
B     625
C    1225
D    2025
E    3025
dtype: int64

In [5]:
# Aggregation
sum_of_series = series.sum()
print(sum_of_series)
mean_of_series = series.mean()
print(mean_of_series)
max_of_series = series.max()
print(max_of_series)

175
35.0
55

### Dataframe

In [6]:
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Age': [25, 30, 22, 28],
        'City': ['New York', 'Los Angeles', 'Chicago', 'Houston']}
df = pd.DataFrame(data)
print(df)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   22      Chicago
3    David   28      Houston

In [23]:
# Display first few rows
print(df.head())

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   22      Chicago
3    David   28      Houston

In [8]:
# Accessing columns
print(df['Name'])

0      Alice
1        Bob
2    Charlie
3      David
Name: Name, dtype: object

### loc and iloc are two methods in Pandas that are used to select rows and columns of a DataFrame. The main difference between loc and iloc is that loc is label-based, while iloc is integer-based.

#### loc is used to select rows and columns by their labels. For example, to select the row with the label "Alice" and the column with the label "Name", you would use the following code:
df.loc["Alice", "Name"]
#### iloc is used to select rows and columns by their integer positions. For example, to select the row with the index 0 and the column with the index 1, you would use the following code:
df.iloc[0, 1]

In [29]:
# Accessing rows using iloc
print(df.iloc[0])

Name       Alice
Age           25
City    New York
Name: 0, dtype: object

In [31]:
# Select specific rows using a range
subset_rows = df.iloc[0:5]
print(subset_rows)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   22      Chicago
3    David   28      Houston

In [15]:
# Select a row by label
row_bob = df.loc[df['Name'] == 'Bob']
print(row_bob)

  Name  Age         City
1  Bob   30  Los Angeles

In [33]:
# Select specific rows by label using a list of labels
subset_rows = df.loc[[0, 2]]
print(subset_rows)

      Name  Age      City
0    Alice   25  New York
2  Charlie   22   Chicago

In [41]:
# Indexing Rows and Columns Simultaneously:
# Using iloc to select specific rows and columns by their positions
subset = df.iloc[1:3, 1:3]
print(subset)

   Age         City
1   30  Los Angeles
2   22      Chicago

In [39]:
# Indexing Rows and Columns Simultaneously:
# Using loc to select specific rows and columns by their labels
subset = df.loc[0:3, ['Name', 'Age']]
print(subset)

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   22
3    David   28

In [15]:
# Accessing rows using condition
young_people = df[df['Age'] < 30]
print(young_people)

      Name  Age      City
0    Alice   25  New York
2  Charlie   22   Chicago
3    David   28   Houston

In [21]:
# Select rows where City is 'Chicago'
chicago_residents = df[df['City'] == 'Chicago']
print(chicago_residents)

      Name  Age     City
2  Charlie   22  Chicago

In [16]:
# Adding a new column
df['Salary'] = [60000, 70000, 55000, 65000]
print(df)

      Name  Age         City  Salary
0    Alice   25     New York   60000
1      Bob   30  Los Angeles   70000
2  Charlie   22      Chicago   55000
3    David   28      Houston   65000

In [17]:
# Renaming columns
df.rename(columns={'Age': 'Years'}, inplace=True)
print(df)

      Name  Years         City  Salary
0    Alice     25     New York   60000
1      Bob     30  Los Angeles   70000
2  Charlie     22      Chicago   55000
3    David     28      Houston   65000

In [18]:
# Removing a column
df.drop(columns=['City'], inplace=True)
print(df)

      Name  Years  Salary
0    Alice     25   60000
1      Bob     30   70000
2  Charlie     22   55000
3    David     28   65000